<section>
    <div class="mx-auto mb-5 max-w-screen-sm lg:mb-8">
        <h2 class="mb-4 display-4 font-weight-bold text-white text-center">Straw Hats Pirates</h2>
    </div>

    <p class="description text-center">Join us as we embark on an adventure to get to know the courageous and diverse crewmembers of the Straw Hat Pirates, each with their unique skills and dreams!</p>
    <div class="grid-container">
        <div class="text-center text-muted">
            <img class="mx-auto mb-4 w-36 h-36 rounded-circle" src="https://i.pinimg.com/736x/1a/15/0e/1a150e98bb13d519e6e03177577bea85.jpg" alt="Monkey D. Luffy">
            <h3 class="mb-1 h4 font-weight-bold text-dark">
                <a href="#">Monkey D. Luffy</a>
            </h3>
            <p>Captain</p>
        </div>

        <div class="text-center text-muted">
            <img class="mx-auto mb-4 w-36 h-36 rounded-circle" src="https://i.pinimg.com/736x/78/e9/f3/78e9f38abba500f5a044851c4681972e.jpg" alt="Roronoa Zoro">
            <h3 class="mb-1 h4 font-weight-bold text-dark">
                <a href="#">Roronoa Zoro</a>
            </h3>
            <p>Bounty Hunter</p>
        </div>

        <div class="text-center text-muted">
            <img class="mx-auto mb-4 w-36 h-36 rounded-circle" src="https://i.pinimg.com/564x/f1/e2/73/f1e273d1b86dd30a8b3c3f92dfbd2725.jpg" alt="Nami">
            <h3 class="mb-1 h4 font-weight-bold text-dark">
                <a href="#">Nami</a>
            </h3>
            <p>Cat Burglar</p>
        </div>

        <div class="text-center text-muted">
            <img class="mx-auto mb-4 w-36 h-36 rounded-circle" src="https://i.pinimg.com/736x/e7/cc/4a/e7cc4a4f60632eea049445c24fa3be8a.jpg" alt="Usopp">
            <h3 class="mb-1 h4 font-weight-bold text-dark">
                <a href="#">Usopp</a>
            </h3>
            <p>Sniper King</p>
        </div>

        <div class="text-center text-muted">
            <img class="mx-auto mb-4 w-36 h-36 rounded-circle" src="https://i.pinimg.com/736x/d4/a8/22/d4a8224d30682341d518786a49efb0ee.jpg" alt="Sanji">
            <h3 class="mb-1 h4 font-weight-bold text-dark">
                <a href="#">Sanji</a>
            </h3>
            <p>Chef</p>
        </div>

        <div class="text-center text-muted">
            <img class="mx-auto mb-4 w-36 h-36 rounded-circle" src="https://i.pinimg.com/originals/01/4f/a2/014fa242a4744dd48b19ed610e2d5ac8.jpg" alt="Tony Tony Chopper">
            <h3 class="mb-1 h4 font-weight-bold text-dark">
                <a href="#">Tony Tony Chopper</a>
            </h3>
            <p>Doctor</p>
        </div>

        <div class="text-center text-muted">
            <img class="mx-auto mb-4 w-36 h-36 rounded-circle" src="https://i.pinimg.com/736x/89/b0/8f/89b08fc07c2c865120354d560c9e0819.jpg" alt="Nico Robin">
            <h3 class="mb-1 h4 font-weight-bold text-dark">
                <a href="#">Nico Robin</a>
            </h3>
            <p>Archeologist</p>
        </div>

        <div class="text-center text-muted">
            <img class="mx-auto mb-4 w-36 h-36 rounded-circle" src="https://i.pinimg.com/736x/01/e4/7c/01e47c6196424b1db9f364cf581c8c40.jpg" alt="Cyborg Franky">
            <h3 class="mb-1 h4 font-weight-bold text-dark">
                <a href="#">Franky</a>
            </h3>
            <p>Archeologist</p>
        </div>
    </div>
</section>
